@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700;800;900&family=Raleway:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Raleway", serif;
}

a.active{
    color: rgb(186, 186, 255) !important;
    background-color: transparent !important;
}